# Environments
.env
.venv
env/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data/Models (if they are large or sensitive)
# data/processed/
# ml/models/
